@media (max-width: 480.98px) {
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        position: absolute;
        top: 1.6rem;
        left: 4.9rem;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
}
@media (min-width: 481px) and (max-width: 767.98px) {
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -5.7rem;
        right: 3rem;
    }
    .name{
        margin-top: 6rem;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px){
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -6.9rem;
        right: 3rem;
        width: 9%;
    }
    .name{
        margin-top: 10rem;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -6.9rem;
        right: 3rem;
        width: 9%;
    }
    .name{
        margin-top: 13rem;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        font-weight: 400;
    }
}