@media (max-width: 480.98px) {
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle2 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle3 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .card {
        width: 80%;
    }
    .title {
        font-weight: 400;
        font-size: 2rem;
        padding-top: 1rem;
    }
    .icon-apos {
        position: absolute;
        top: 1.6rem;
        left: 4.9rem;
    }
    .left-icon {
        width: 12.5%;
    }
    .right-icon {
        width: 12.5%;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
    .name {
        padding-top: 4.5rem;
    }
}
@media (min-width: 481px) and (max-width: 767.98px) {
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle2 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle3 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -5.7rem;
        right: 3rem;
    }
    .name{
        margin-top: 6rem;
    }
    .left-icon {
        width: 12.5%;
    }
    .right-icon {
        width: 12.5%;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px){
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle2 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle3 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -6.9rem;
        right: 3rem;
        width: 9%;
    }
    .name{
        margin-top: 10rem;
    }
    .left-icon {
        width: 12.5%;
    }
    .right-icon {
        width: 12.5%;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        font-weight: 400;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .second-circle {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle2 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .second-circle3 {
        width: 32.2%;
        border-radius: 23rem;
        margin: 0 auto;
        position: absolute;
        left: 6rem;
        right: 6rem;
    }
    .icon-apos {
        margin: 0 auto;
        position: absolute;
        left: -6.9rem;
        right: 3rem;
        width: 9%;
    }
    .name{
        margin-top: 13rem;
    }
    .circle {
        display: none;
    }
    .desc {
        padding-top: -2.9rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        font-weight: 400;
    }
}